@laker rc file Version 1.0
[Library]
Lab9 = /home/user2/vlsi18/vlsi1812/Lab9/Lab9.lib++
[DataManagement]
DMToolType = unknown
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
DMAutoExcludeViewName = 
[DisabledMessages]
version = 2016.12
[Form]
version = 2016.12
leoMasterWnd.fm = 16,60,1920,1018
openfile.fm = 116,160,723,529
opendir.fm = 132,220,369,428
leoNewLibrary.fm = 346,290,382,438
leoDelCell.fm = 378,410,417,355
leoClsWndSaveCnf.fm = 124,190,656,260
leoCrMCell.fm = 8,30,570,501
leoDsgWnd.fm = 0,22,1920,1018
shareOpenDsg.fm = 148,280,734,381
leoCreatePin.fm = 108,130,373,390
leoCreateText.fm = 698,619,347,503
leoContorFtr.fm = 24,90,499,533
leoOpenDsg.fm = 450,230,430,355
leoCreateArray.fm = 0,0,635,505
dumpWnd.fm = 108,130,520,532
[General]
KeepEnvValInRc = TRUE
SyncDir = FALSE
AutoSyncLibMapFile = FALSE
[GridSetting]
Lab9 = 0.001 0.005 0.005 2 1 
[ImportExport]
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = FALSE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MaxVerticesInPathPoly = 1024
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterText = FALSE
ExportFilterDummyCell = FALSE
ExportFilterDummyInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSysLayer = All
ExportPolygonText = FALSE
ExportPathToPolygon = FALSE
ExportPurposeMap = TRUE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDILayerMapFile = 
ExportDIIncludeOriginLayers = TRUE
ExportPrecisionForMag = 5
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
SetMirrorMethod = Justification CenterCenter
MoveIgnoreLogicInfo = FALSE
GuardRingCornerContact = TRUE
AutoContactMinContact = AtLeastOneColumnRow
AutoContactMinContactNumber = 1
AutoContactDirection = horizontal
AutoContactMinEnclosureSet = FALSE
AutoContactAlign = CenterCenter
AutoContactSplitContactDevice = TRUE
TextJustification = LowerLeft
TextFontType = Modern
TextHeight = 1.0
CreateGuardRingFitToRectangle = FALSE
CreateGuardRingBy = CoRow
StretchIgnoreLogicInfo = FALSE
SetMergeSameNetOnly = FALSE
SetMergeMoveColPoint = FALSE
ChopPathCenterLine = FALSE
ChopPathKeepExtendPathEnds = FALSE
KeepCopyArrayEntries = TRUE
SetCreatePathBusWithSpace = FALSE
SetCreatePathAutoWidth = TRUE
SetCreatePathAutoDetectEdge = FALSE
SetCreatePathMaxContact = TRUE
SetCreatePathRouterOnGrid = FALSE
RouteStatus = Fixed
RouteType = None
SetCreatePathType = Truncate
SetCreateInstanceAutoUpdatePitch = TRUE
SetCreateInstanceCheckLoops = TRUE
SetCreateInstanceJustification = Origin
SetCreateInstanceLibName = Lab9
SetCreateInstanceCellName = inv
SetCreateInstanceViewName = layout
MagicCellFusionFixed = TRUE
[LeoPreference]
UserDispFile = 
VirtualTop = FALSE
VirtualTopStr = 
HierarchyDelimiter = /
SelectInfo = "%N [%Z Netname=%Z ][%I %I=][%M Lib(%b) Cell(%M) View(%w)][ %L layer=%L(%l)][ %P purpose=%P(%p)][%R Actual Layer %R(%Q)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 1
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowRulerWithMinResolution = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
LegacyErrorViewer = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
DimensionMarkUnit = None
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 25000
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
RVE_StartingPath = 
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
AbutControlPCell = 
CanAbutDevice = FALSE
CanStretchDevice = FALSE
EnablePushWire = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND 
OnLineExtractorFlyLineShowMerge = TRUE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
P2PSheetResFile = 
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IoDefaultDirectory = 
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateUserDefinedLength = 
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
ReleaseTlrCTRouteLimitation = FALSE
LayerNameLength = 5
ToolTipMaxChars = 32
PurposeStartCount = 1
AlignSpacingRuleVal = 
CreatePathRuleVal = 
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
ShowSysPinOnEditingLevel = FALSE
DefaultTechnologyFile = /home/user2/vlsi18/vlsi1812/Lab9/Lab9/laker.tf
NewLibraryWithTechFile = TRUE
NewLibDir = /home/user2/vlsi18/vlsi1812/Lab9
SetMaxDrawBoundary = FALSE
SetNewCellCatg = FALSE
SetNewCellCVType = 577
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
OpenBrowserWidth = 203 0 302 203
viaGroup = MCell
ReduceMCell = FALSE
ReduceDevice = FALSE
OpenCellCVMode = 1
ConfirmBeforeDRC = TRUE
ShowErrorFlagTip = FALSE
[LeoWnd]
layertblpos = 0
dsgwndsize = 1920 1018
[Print]
PrinterName = lp
FileName = xor.ps
ColorPrint = FALSE
BlackBackground = FALSE
[SourceTcl]
[TclShell]
nLineSize = 50
[leoEdit]
CreateMaxAutoContactNum = TRUE
